<head>
<title>The Gossip Project</title>
</head>
<center>
<br>
<body>
	<div class="card" style="width: 70%; padding: 5%; margin-top: 2rem;margin-bottom: 5rem">
	<h1>Gossipers</h1>
		<div class="card" style="width: 90%; padding: 5%; margin: 5%; background-color: #e8f4f8">
			<% @users.each do |user| %>
				<div class="card" style="width: 90%; padding: 3%%; margin: 5%">
 					<div class="card-body">
    					<%= link_to user.first_name.capitalize + " " + user.last_name.capitalize, user_path(user.id) %>
		    	</div>
		    </div>
			<% end %>
		</div>
	</div>
</body>
</center>